.appHeader {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
}

.appTitle {
    text-align: center;
    color: blue;
}

.divCanvas {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.divGroup{
    display: block;
    margin: auto;
}

.cardOptions{
    display: flex;
    margin: auto;
}

.playButton{
    margin: auto;
}

.descriptionP{
    margin: auto;
}

.buttonPlayAgain {
    background-color: chartreuse;
    font-size: 200%;
    width: 300px;
    height: 90px;
    margin: auto;
    border-radius: 5px;
}

.divCards {
    display: grid;
    height: max-content;
    background-color: rgb(66, 66, 66);
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid rgb(27, 27, 27);
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.card {
    width: 170px;
    height: 200px;
    border-radius: 5px;
    margin: auto;
}

.cardBack {
    background: url(/resourses/hearthstone\ card\ back.png);
    font-size: 0px;
    background-position: center;
    background-size: 120% 112%;
}

.cardFront {
    background-color: white;
    font-size: 50px;
}

.hide{
    display: none;
}