.appHeader{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;

}

.appTitle{
    text-align: center;
    font-family: paper;
    color: blue;
}

.divCanvas{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.buttonPlayAgain{
    background-color: chartreuse;
    width: 8%;
    height: 10%;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.divCards{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
}

.card{
    width: 100px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1%;
}

.cardBack{
    background-color: rgb(240, 126, 149);
    font-size: 0px;
}

.cardFront{
    background-color: white;
}

.cardH1{
    font-size: 0;
    text-align: center;
    font-family: paper;
    color: blue;
}

.cardH1show{
    font-size: 20px;
}


@font-face {
    font-family: "paper";
    src: url("/fonts/paper.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 